# cache Folders
**/__pycache__
**/.ipynb_checkpoints
**/.pytest_cache
**/.tox
**/model_checkpoints

# Environments
.venv
.vscode

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# other
.gitattributes
.DS_Store

# deep stuff
pretrained_models/*
*.ckpt
*.pt 
*.bin

# audiofiles
*.flac
*.b64
*.wav

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
